<div class="container">
    Logan
    <span id="drink-logan" style="margin-right:5px;"></span><i class="fa fa-glass" aria-hidden="true" style="margin-right:20px;"></i>
    <span id="water-logan" style="margin-right:5px;"></span><i class="fa fa-tint" aria-hidden="true" style="margin-right:20px;"></i>
    <span id="smoke-logan" style="margin-right:5px;"></span><i class="vs vs-smoking" aria-hidden="true"></i>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
poo<br>
poo<br>
poo<br>poo<br>poo<br>poo<br>poo<br>poo<br>
    </div>
  </div>
</div>
Logan
<span id="drink-logan" style="margin-right:5px;">1</span><i class="fa fa-glass" aria-hidden="true" style="margin-right:20px;"></i>
<span id="water-logan" style="margin-right:5px;">2</span><i class="fa fa-tint" aria-hidden="true" style="margin-right:20px;"></i>
<span id="smoke-logan" style="margin-right:5px;">3</span><i class="vs vs-smoking" aria-hidden="true"></i>