<div class="container">
    {{ending-balance-by-quarter accountRecords=model.accountRecords}}
    {{net-change-by-quarter accountRecords=model.accountRecords}}
    {{investment-roi-by-quarter accountRecords=model.accountRecords}}
</div>