<div class="container">
    {{current-assets accountRecords=model.accountRecords}}
    {{net-change-by-quarter accountRecords=model.accountRecords}}
    {{net-deposits-by-quarter accountRecords=model.accountRecords}}
</div>